.intro-class{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.row-felx{
    display:flex;  

}

.image{
    height: 200px;
    padding: 10px;
    margin: 20px;

}

.btn{
    background-color: rgba(207, 91, 18, 0.9);
    font-weight: bold;
    color: white;
    padding:10px 100px
}

.learn-btn{
    background-color:white;
    font-weight: bold;
    padding:10px 100px
}

.bg-blue{
    background-color: rgb(56, 96, 167);
}

.bg-gary{
    background-color: rgb(175, 169, 169);
}

.course{
    text-align: center;
    margin: 50px;
}

@media screen and (max-width:800px) {
    .row-felx{
        display: flex;
        flex-direction: column;
    
    }
}

.box{
    position: relative;
   width: 300px;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   background-color: #060c21;
   margin: 40px;
}

.box:before{
   content: '';
   position: absolute;
   top: -3px;
   left: -3px;
   right: -3px;
   bottom: -3px;
   /* background: #fff; */
   z-index: -1;
   
}

.box:after{
   content: '';
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   /* background: #fff; */
   z-index: -1;
   filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after{
   background: linear-gradient(235deg, #89ff00,#010615,#00bcd4);
   
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg, #ff005e,#010615,#fbff00);
    
}

.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg, #772aff,#010615,#2196f3);
    
}

.box:nth-child(4):before,
.box:nth-child(4):after{
   background: linear-gradient(235deg, #89ff00,#010615,#00bcd4);
   
}
.box:nth-child(5):before,
.box:nth-child(5):after{
    background: linear-gradient(235deg, #ff005e,#010615,#fbff00);
    
}
