
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.LG-image{
    height: 40px;
    width: 40px;
    margin: 5px 15px;
}

.img-heading{
    background-image: url(./images/background-image-1.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px;
    color: #1b0515;
    font-weight:bolder;
   font-size: 30px;
}