
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.LG-image{
    height: 40px;
    width: 40px;
    margin: 5px 15px;
    cursor: pointer;
}

.img-heading{
    background-image: url(./images/background-image-1.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px;
    color: rgb(255, 255, 255);
    font-weight:bolder;
   font-size: 20px;
}

.r-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bold;


}

.activate {
    border: 4px solid black;
    border-radius: 10px;
}

.light-mode{
    background-color: white;
    color: black;

}

.dark-mode{
    background-color:black ;
    color: white;
}

.rating-h{
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating{
    display: flex;
    
}

.rating-img{
    height: 100px;
    padding: 15px;
    cursor: pointer;
}

#rating{
    padding: 10px;
}

.review{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 30px;
    background-color: rgb(228, 220, 220);
    
    
}

.edu-cet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.class-img{
    height: 300px;
}

.class-img-opt{
    height: 50px;
    padding: 10px;cursor: pointer;
}

.img-container{

   display: flex;
   padding: 30px;
   flex-direction: row;
   align-items: center;
   justify-content: center;
    height: 10px;
}

p{
    font-size: 20px;
    padding:10px 50px;
}

.padding-20{
    padding: 0 20px;
}